flows.json
[{"id":"12189ea3.a2f621","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4be31bbe.3ed304","type":"ui_form","z":"12189ea3.a2f621","name":"","label":"","group":"2e07dd5b.6a4942","order":0,"width":0,"height":0,"options":[{"label":"layer_height","value":"la","type":"number","required":true,"rows":null},{"label":"wall_thickness","value":"wa","type":"number","required":true,"rows":null},{"label":"infill_density","value":"ind","type":"number","required":true,"rows":null},{"label":"infill_pattern","value":"inp","type":"text","required":true,"rows":null},{"label":"nozzle_temperature","value":"no","type":"number","required":true,"rows":null},{"label":"bed_temperature","value":"be","type":"number","required":true,"rows":null},{"label":"print_speed","value":"pr","type":"number","required":true,"rows":null},{"label":"fan_speed","value":"fa","type":"number","required":true,"rows":null},{"label":"roughness","value":"ro","type":"number","required":true,"rows":null},{"label":"tension_strenght","value":"te","type":"number","required":true,"rows":null},{"label":"elongation","value":"el","type":"number","required":true,"rows":null}],"formValue":{"la":"","wa":"","ind":"","inp":"","no":"","be":"","pr":"","fa":"","ro":"","te":"","el":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":180,"wires":[["3c1d7480.16722c"]]},{"id":"669a4a9c.162ee4","type":"inject","z":"12189ea3.a2f621","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":80,"wires":[["3c1d7480.16722c"]]},{"id":"3c1d7480.16722c","type":"function","z":"12189ea3.a2f621","name":"","func":"global.set(\"la\",msg.payload.la)\nglobal.set(\"wa\",msg.payload.wa)\nglobal.set(\"ind\",msg.payload.ind)\nglobal.set(\"inp\",msg.payload.inp)\nglobal.set(\"no\",msg.payload.no)\nglobal.set(\"be\",msg.payload.be)\nglobal.set(\"pr\",msg.payload.pr)\nglobal.set(\"fa\",msg.payload.fa)\nglobal.set(\"ro\",msg.payload.ro)\nglobal.set(\"te\",msg.payload.te)\nglobal.set(\"ri\",msg.payload.ri)\nvar apikey= \"L62b39rcgaTsQYktJVlVaOp2tRVKmg1mTE_KDqfJ3xgp\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":140,"wires":[["d03239f.158f1c8"]]},{"id":"d03239f.158f1c8","type":"http request","z":"12189ea3.a2f621","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":200,"wires":[["9ea9aff5.4a19d"]]},{"id":"9ea9aff5.4a19d","type":"function","z":"12189ea3.a2f621","name":"","func":"var la = global.get('la')\nvar wa = global.get('wa')\nvar ind = global.get('ind')\nvar inp = global.get('inp')\nvar no = global.get('no')\nvar be = global.get('be')\nvar pr = global.get('pr')\nvar fa = global.get('fa')\nvar ro = global.get('ro')\nvar te = global.get('te')\nvar el = global.get('el')\nvar token=msg.payload.access_token\nvar instance_id=\"a69fac35-0b00-4555-ba87-6a1e5dbb5b10\"\nmsg.headers={'content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\":[\"layer_height\",\"wall_thickness\",\"infill_density\",\"infill_pattern\",\"nozzle_temperature\",\"bed_temperature\",\"print_speed\",\"fan_speed\",\"roughness\",\"tension_strenght\",\"elongation\"],\"values\":[[la,wa,ind,inp,no,be,pr,fa,ro,te,el]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":100,"wires":[["7fd7155.5bd0cec"]]},{"id":"7fd7155.5bd0cec","type":"http request","z":"12189ea3.a2f621","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/f4942d5f-d6e4-4749-b3e1-bc64fdccc929/predictions","tls":"","persist":false,"proxy":"","authType":"","x":720,"y":200,"wires":[["f55d767c.04ac48"]]},{"id":"1ce25873.e7acd8","type":"debug","z":"12189ea3.a2f621","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":80,"wires":[]},{"id":"f55d767c.04ac48","type":"function","z":"12189ea3.a2f621","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":20,"wires":[["4ca7d52e.6e5a0c","1ce25873.e7acd8"]]},{"id":"4ca7d52e.6e5a0c","type":"ui_text","z":"12189ea3.a2f621","group":"2e07dd5b.6a4942","order":1,"width":0,"height":0,"name":"","label":"material","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":260,"wires":[]},{"id":"2e07dd5b.6a4942","type":"ui_group","z":"","name":"Default","tab":"40f40240.c21d8c","order":1,"disp":true,"width":"6","collapse":false},{"id":"40f40240.c21d8c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]